body {
    background-color: rgb(60, 54, 95);
  }
.navbar
{
  padding: 10px;
}  
#mybtn{
    margin-right: 5px ;
    margin-bottom: 10px;
}
h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

footer {
  width: 100%;
  position: absolute;
  bottom: -60px;
  background-color: black;
  text-decoration: none;
  color: #a3a2a2d2;
  text-align: center;
  font-size: 13px;
  padding-top: 10px;
}
h2{
	font-size: 40px;
}
table{
	letter-spacing: 1.2px;
}
